// Perusasettelu ja elementtien rivitys mobile first -periaatteella

body{
    padding:0px;
    margin:0px;
    background: #ffffff;
}


header{
    display:none;
}

main{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    flex: 1 1 auto;
    //> * {
    //    width:100%;
    //    display:flex;
    //    justify-content: center;
    //}

}


.container{
    display: flex;
    flex-flow: column wrap;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background: $contbg;
    padding-bottom:3em;
}


.innercontent{
    min-height:100vh;
}

.basic-flex{
    display:flex;
    > div {
        margin-right:1em;
    }
}

.data_picker{
    font-size:0.8em;
}

