//Navigointipalkin ulkoasu

nav{
    font-size:0.9em;
    position:relative;
    height: $navheight;
    width:100%;
    background:$navbg;
    color: $navfg;
    border-bottom: 1px solid lighten($navfg, 50%);
    padding-bottom: 1em;
    margin-bottom:0;

    .dropdown{
        margin-top: $navheight;
        display: none;
    }

    li{
        list-style-type:none;
        a{
            color: $navfg;
        }

        &.menu-launcher{
            &:hover{
                @include pointer;
                text-decoration:underline;
            }
        }
    }

}

.menubelow{
    color:white;
    position:absolute;
    z-index:10;
    display: none;
    width: 100vw;
    min-height: 20vh;
    padding: 1em;
    margin-top:0;
    background: $actionmenubg;

    h2{
        font-size:0.9em;
        color:#eacca4;
    }

    li{
        list-style-type:none;
    }

    a{
        font-size:0.8em;
        color: $menulink_color;
        text-decoration:none;

        &:hover{
            text-decoration:underline;
            @include pointer;
        }
    }
}


aside{
    display:none;
    height:100%;
    position:absolute;
    border-right:1px solid darken($lightbg,20%);
    padding-left:1em;
    padding-right:0.5em;
    background:rgba(243, 240, 240, 0.87);

    h4{

        font-size:0.7em;
    
    }

    a{
        font-size:0.61em;
        color:darken($menulink_color,30%);
    }

    li{
        @include pointer;
    }

}


.over-container{
    position:relative;
}

//@include hamburger-icon($navfg, $navheight - 5px);


@media only screen and (min-width: 520px){


    nav{


        .hamburger{
            display:none;
        }

        li {
            //Näytä menu avattuna vaakasuunnassa, jos näyttö tarpeeksi iso
            display: inline;
        }

        li + li {
            margin-left: 10px;
        }

        .dropdown{
            margin-top:0px;
            display: block;
        }
    }
}
