
$navbg: #ffffff;
$navfg: lighten(black,15%);
$actionmenubg: rgba(130, 124, 124, 0.95);

$menulink_color: #c7d8d8;

$lightbg: #eeebe9;
$contbg: #ffffff;

$rowstripe:grey;
$datarowbg: darken(#f3f3f3,10%);
$blurcolor:rgba(128, 128, 128, 0.8);

$lyricscellbg: #A4B6AA;
$lightboxbg: white;
$layout_editor_font: #655c5c;

$commentheaderbg: $datarowbg;

$linknormal: #1c5a90;

@mixin datahiglight{
    background: lighten($navbg,10%);
    color: $navfg;
}
