

.datalist{
    margin-top:0.5em;
    font-size:0.75em;
}
.dl_parent{

    display:flex;
    align-items:center;

    & > div + div{
        margin-left:1em;
    }

    & > div:first-child{
        margin-right:1em;
        max-width:13em;
    }
    & > div:nth-child(2){
        flex: 1 3 50%;
    }
}
