
thead{
    
    font-weight:bold;
    td{

        @include pointer;
    }

}


.data-table-menu{
    font-size:0.7em;
    color: $navfg;
    position:relative;

    a{
        text-decoration:none;
        font-weight:bold;
        color:$linknormal;

        &:hover{
            text-decoration:underline;
        }
    }


}


.column_action_menu{
    display:none;
    position:absolute;
    background:$arrowbg;
    border:1px solid grey;
    margin-top:0.6em;
    padding:0.5em;
    min-width:250px;
     li{
        list-style-type:none;
        display: inline;
        @include  pointer;

        & + li{
            margin-left:0.9em;
            padding-left:0.8em;
            border-left: 1px solid black;
        }

        &:hover{
            @include pointer;
            text-decoration: underline;
        }
    }
}

.active_column{
    background:#e6cebe;
    padding:0.3em;
}

.innercontent{

    .data-table-container{
        font-size:0.7em;

    }
    .data-table-container + .data-table-container{
        border-left:1px solid $lightbg;
        margin-left:0.4em;
        padding-left:0.41em;
    }

}


th{
    &:hover{
        @include pointer;
        background:grey;
        color:white;
    }
}
