// lightbox-tyyppinen ikkuna

.my-lightbox{
    position:absolute;
    background:$lightbg;
    margin-left:2em;
    margin-top:1.5em;
    z-index:1;
    @include shadow;
    padding:1em;
    display:none;
}
.el_title{
    font-size:0.9em;
    font-color:lighten($navfg,20%);
}

.lrd_menu{
    z-index:0;
}

